/*page styling*/
img {
    image-orientation: from-image;
}

body {
	margin: 0;	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	display: inline;
}

/*style header*/
.header {
	overflow: hidden;
	background-color: white;
	padding: 10px 15px;
}

/*style links in header*/
.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	font-family: Arial;
	text-decoration: none;
	font-size: 15px; 
	line-height: 20px;
	border-radius: 4px;
}

.header a.logo {
	display: inline-block;
	float: left;
	padding: 0;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* Change the background color on mouse-over */
.header-right a:hover {
	background-color: #gray;
	color: black;
}

.header a:hover{
	opacity: 0.5;
}

/* Style the active/current link*/
.header a.active {
	background-color: #9fd9ea;
	color: white;
}

/* Float the link section to the right */
.header-right {
	padding: 10px 15px;
	float: right;
}

.gallerymenu {
	margin: auto;
	float: right;
	width: 64%;	
}

.gallerymenu a{
	background-color: white;
	color: black;
	font-family: Alegreya;
}

.gallerymenu a:hover{
	background-color:black;
}

.gallerymenu a.active {
	text-decoration: underline;
}

li a {
	font-family: Alegreya;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color of the gallery menu on hover */
li a:hover {
    background-color: white;
	color: white;
}

/* Container holding the image and text */
.container {
	position: relative;
	text-align: center;
}

/* Text on image */
.imgtext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px gray;
	background: rgba(240, 255, 255, 0.7);
	font-family: "Amatic SC";
	font-size: 50px;
	font-weight: 300;	
	color: black;
	padding-left: 16px;
	padding-right: 16px;
}
	

img.gallery{
	width: 98.5%;
	height: auto;
	vertical-align: top;
	margin-top: 7px;
	/* -webkit-transition: width 2s; /* Safari
    transition: width 2s; */
}

.price{
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: Arial; 
	font-size: 27px;
}

.availability{
	position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: Arial; 
	font-size: 20px;
}

.wrapper {
	position: relative;
	text-align: center;
	color: white;
}

.wrapper .price{
	visibility: hidden;
	color: black;
}

.wrapper .availability {
	visibility: hidden;
	color: black;
}

.wrapper:hover .availability{
	visibility: visible;
}

.wrapper:hover .price {
	visibility: visible;
}

.wrapper:hover img {
	opacity: 0.4;
}

img.gallery:not(.wrapper):hover {
	opacity: 0.4;
	/*outline: 10px solid black;
	outline-offset: -10px;*/
}

img.frontimage{
	width: 100%;
	height: auto;
}

table.verticaal tr{
	padding: 100px;
} 

.introcontainer{
	padding-left: 20px;
	padding-right: 20 px;
	padding-top: 20px;
	width: 100%;
}

img.introimage{
	float: left;
	width: 30%;
	height: auto;
	padding: 0px;
	background-color: #9fd9ea;
}

.intro1{
	float: left;
    color: #f2f2f2;
    text-align: left;
    padding-left: 20px;
	padding-right: 60px;
	background: black;
	width: 60%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro1 p {
    color: white;
	font-size: 14px;
	font-family: Alegreya Sans;
	padding-left: 20px;
	padding-top: 0px;
	width: 100%;
	height: auto;
	
}

.intro1 h2{
	color: white;
	font-size: 16.5px;
	font-family: Alegreya Sans;
	padding-left: 20px;
	padding-top: 0px;
	width: 100%;
}

.intro2{
	float: left;
    color: #f2f2f2;
    text-align: left;
    padding-left: 20px;
	padding-right: 60px;
	background: #9fd9ea;
	width: 60%;
	height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro2 p {
    color: black;
	font-size: 14px;
	font-family: Alegreya Sans;
	padding-left: 20px;
	padding-right: 0px;
	float: relative;
	width: 100%;
}

.intro2 h2{
	color: black;
	font-size: 16.5px;
	font-family: Alegreya Sans;
	padding-left: 20px;
	padding-top: 0px;
	float: relative;
	width:100%
}

h2 a:hover { color: #ffcc66 }

h2 a { color: #ff9900; text-decoration: none; }

.contact {
    margin: auto;
    width: 30%;
    padding: 40px;
	text-align: center;
	font-family: Arial;
	color: white;
	background-color: pink;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact a {
	color: gray;
}