/*page styling*/
body {
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding 0;
}

li {
	display: inline;
}

/*style header*/
.header {
	overflow: hidden;
	background-color: white;
	padding: 10px 15px;
}

/*style links in header*/
.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	font-family: Arial;
	text-decoration: none;
	font-size: 18px; 
	line-height: 20px;
	border-radius: 4px;
}

.header a.logo {
	display: inline-block;
	float: left;
	padding: 0;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* Change the background color on mouse-over */
.header-right a:hover {
  background-color: #ffcc66;
  color: black;
}

.header a:hover{
	opacity: 0.5;
}

/* Style the active/current link*/
.header a.active {
  background-color: #9ed1d3;
  color: white;
}

/* Float the link section to the right */
.header-right {
	padding: 10px 15px;
	float: right;
}

/* Container holding the image and text */
.container {
	position: relative;
	text-align: center;
	color: green;
}

/* Text on image */
.imgtext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px gray;
	font-family: "Amatic SC";
	font-size: 40px;
	font-weight: 300;	
	color: black;
}
	
h2 {

}

img.gallery{
	width: 98.5%;
	height: auto;
	vertical-align: top;
	margin-top: 7px;
	/* -webkit-transition: width 2s; /* Safari
    transition: width 2s; */
}

img.gallery:hover {
	opacity: 0.8;
	outline: 10px solid powderblue;
	outline-offset: -10px;
}

img.frontimage{
	width: 100%;
	height: auto;
	-webkit-filter: blur(2x); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

table.verticaal tr{
	padding: 100px;
} 

p {
    color: black;
	font-size: 16px;
	font-family: Arial;
}

h2{
	background-color: white;
}

h2 a:hover { color: #ffcc66 }

h2 a { color: #ff9900; text-decoration: none; }

footer {
	color: gray;
	font-family: "Arial";
	font-size: 12px;
}